/*header*/
.header{
	width: 1366px;
	height: 161px;
}
.header-img{
	width: 1366px;
	height: 119px;
}
.header-img img{
	display: block;
}

/*nav 内容导航栏部分*/
#nav{
	width: 1366px;
	height: 789px;
	background: #fff;
}

/*横导航栏*/
.nav1{
	width: 1228px;
    height: 101px;
    margin: 0 auto;
	background: url(images/login_02.jpg) no-repeat left center;
}
/* logo */
.nav1 h2{
    float: left;
	width: 49px;
    height: 78px;
    padding-top: 23px;
}
.nav1 h3{
    float: left;
    width: 179px;
    height: 101px;
}
.nav1 h2 img,.nav1 h3 img{
    display: block;
}

.nav1 ul{
    
}










