#regist{
	width: 1366px;
	height: 639px;
	background: #f9f9f9;
}
.registCenter{
	width: 874px;
	height: 550px;
	background: #fff;
	margin: 0 auto;
	text-align: center;
}
.registCenter h1{
	display: inline-block;
	width: 49px;
	height: 48px;
	margin-bottom: 48px;
}
.regist-form{
	width: 856px;
	height: 315px;
}
.regist-form h2{
	font-size: 29px;
	color: #333333;
	margin-bottom: 42px;
	
}
.address{
	height: 107px;
    /*width: 332px;*/
}
h3,h4{
	/*text-align: left;*/
    color:#333333;
    font-size: 12px;
    line-height: 12px;
}
#addr{
	width: 317px;
	font-size: 12px;
	color:#555555;
	height: 40px;
	padding-left: 15px;
	border: 1px solid #e8e8e8;
}
.address p{
	font-size: 12px;
	color:#555555;
	margin-top: 9px;
}

.phone{
	/*width: ;*/
	height: 137px;
}
select{
	width: 78px;
	height: 40px;
	border: 1px solid #e8e8e8;
}
#tel{
	width: 256px;
	height: 40px;
	border: 1px solid #e8e8e8;
	margin-bottom: 30px;
}
.btn{
	width: 330px;
	height: 42px;
	background: #ff6700;
	margin: 0 auto;
	line-height: 42px;
}
.btn a{
	font-size: 12px;
	color: #fff;
}
.xy{
	height: 57px;
	font-size:12px ;
	color:#9d9d9d;
	margin: 0 auto;
	padding-top: 84px;
}
.xy a{
	font-size:12px ;
	color:#333333;
}

/*footer*/
.footer{
	width: 874px;
	height: 90px;
	margin: 0 auto;
	text-align: center;
}
.footer ul{
	width: 350px;
	height: 15px;
	margin: 0 auto;
	font-size:12px ;
	color:#757575;
	padding-top: 15px;
	margin-bottom: 21px;
}
.footer li{
	float: left;
	height: 16x;
	margin-left: 11px;
	margin-right: 11px;
}
.footer li:first-child{
	color:#333333;
}
.footer p{
	font-size: 12px;;
	color:#9da8c2;
}











